* {
  /* background-color: #212121;
  color: white; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  --main-color: #1992d4;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: gray;
  grid-row: 1/3;

  display: flex;
  flex-direction: column;
  padding: 25px;

  gap: 60px;

  background-color: var(--main-color);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 15px;
}

.option-logo {
  width: 25px;
}

.tab-name {
  font-size: 1.2rem;
}

.main-tabs,
.secondary-tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  grid-column: 2;
  background-color: white;

  display: grid;
  grid-template-rows: 1fr 1.2fr;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
  gap: 20px;
}

#search-icon {
  height: 25px;
}

#searchbar {
  height: 30px;
  background-color: #e2e8f0;
  border: none;
  border-radius: 30px;
  width: 500px;
}

#notification-icon {
  height: 25px;
}

.search,
.profile-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#profile-small {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.header-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 50px;
}

.user-greeting {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

#profile-big {
  height: 70px;
  border-radius: 35px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: var(--main-color);
  color: white;
}

.main {
  background-color: blueviolet;
  grid-column: 2;
}
