* {
  /* background-color: #212121;
  color: white; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  --main-color: #1992d4;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: gray;
  grid-row: 1/3;

  display: flex;
  flex-direction: column;
  padding: 25px;

  gap: 60px;

  background-color: var(--main-color);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 15px;
}

.option-logo {
  width: 25px;
}

.tab-name {
  font-size: 1.2rem;
}

.main-tabs,
.secondary-tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  background-color: blue;
  grid-column: 2;
}

.main {
  background-color: blueviolet;
  grid-column: 2;
}
