* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  --main-color: #1992d4;
  line-height: 1.25;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.bold {
  font-weight: bold;
}

.sidebar {
  grid-row: 1/3;

  display: flex;
  flex-direction: column;
  padding: 25px;

  gap: 60px;

  background-color: var(--main-color);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 15px;
}

.option-logo {
  width: 25px;
}

.tab-name {
  font-size: 1.2rem;
}

.main-tabs,
.secondary-tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  grid-column: 2;
  background-color: white;

  display: grid;
  grid-template-rows: 1fr 1.2fr;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;
  gap: 20px;
}

#search-icon {
  height: 25px;
}

#searchbar {
  height: 30px;
  background-color: #e2e8f0;
  border: none;
  border-radius: 30px;
  width: 500px;
}

#notification-icon {
  height: 25px;
}

.search,
.profile-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#profile-small {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.header-lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.user-greeting {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

#profile-big {
  height: 70px;
  border-radius: 35px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: var(--main-color);
  color: white;
}

.main {
  background-color: #e2e8f0;
  grid-column: 2;

  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
}

.project-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.project {
  background-color: white;
  border-left: 8px solid #f0b429;
  border-radius: 10px;
  padding: 30px 25px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.project-actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.project-action-icons {
  height: 20px;
}

.updates-section {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  gap: 45px;
}

.announcement-section,
.trending-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.announcement-list,
.trending-list {
  background-color: white;
  padding: 25px;
  border-radius: 10px;

  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 25px;

  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

hr {
  border: 1px solid gray;
  opacity: 0.4;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trending-item-img {
  height: 60px;
  border-radius: 30px;
}
