* {
  background-color: #212121;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: gray;
  grid-row: 1/3;
}

.header {
  background-color: blue;
  grid-column: 2;
}

.main {
  background-color: blueviolet;
  grid-column: 2;
}
